/* Create your style on here */

/*list fitur/deskripsi*/
.list-fitur ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-fitur ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #DEDEDE;
}
.list-fitur ul li:before {
  font-family: "simple-line-icons";
  content: "\e080";
  margin-right: 10px;
  vertical-align: middle;
}
/*./list fitur/deskripsi*/



.action-container{
  float: left;
  /*width: 390px;*/
  background-color: transparent;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 0;
  height: 48px;
}
.action-container>.btn{
  padding: 6px;
  width: 48px;
  float: left;
  margin-right: 5px;
  margin-top: 0;
  height: 41px;
}
.action-container>.btn-group{
  float: left;
}
.action-container>.btn-group>.btn{
  padding: 6px;
  width: 48px;
  margin-right: 5px;
  margin-top: 0;
  height: 41px;
}
.isi-container{
    /*float: left;
    margin-left: 55px;
    width: calc(100% - 55px);*/
  }
  .action-devider{
    margin-right: 6px;
    margin-left: 1px;
    content: "";
    /* display: block; */
    height: 43px;
    width: 1px;
    float: left;
    border-left: 1px solid #ddd;
  }

  .form-horizontal .control-label.text-left{
    text-align: left !important;
  }
  .form-horizontal .control-label.text-left:after{
    content: ":";
    position: absolute;
    right: 5px;
  }
  .form-horizontal .form-group{
    margin-left: 0;
    margin-right: 0;
  }
  .table.no-margin{
    margin-bottom: 0;
  }
  .action-container .btn>span{
    display: block;
    position: fixed;
    font-size: 8px !important;
    text-align: center;
    margin-top: -4px;
    margin-left: -7px;
    color: #fff;
    background: #444;
    padding: 0 1px;
    width: 45px;
    border-radius: 0 0 3px 3px;
  }

  button.btn-sts-lock{
    position: absolute;
    right: 17px;
    z-index: 1;
    top: 32px;
    width: 58px;
    padding-top: 4px;
  }

  button.btn-sts-lock>span{
    display: block;
    position: absolute;
    text-align: center;
    border-radius: 0 0 3px 3px;
    width: 58px;
    font-size: 11px;
    margin-left: -17px;
    background: #444;
  }

  .bold{
    font-weight: bold !important;
  }

  .nav.nav-tabs {
  	background-color: #fafafa;
  }

  .header-content {
    position: fixed;
    margin: 0px;
    width: calc(100% - 220px);
    z-index: 1;
    margin-top:3px;
  }

  body.page-footer-fixed #page-content .body-content {
    padding-top: 55px;
  }
/* ========================================================================
 * DASHBOARD HR
 * ======================================================================== */
 .indicator-gender li {
  padding: 0 20px;
}
.indicator-gender li i {
  font-size: 160px;
}
.indicator-gender li span {
  display: block;
  margin-top: 10px;
  height: 22px;
  width: 100%;
}

.panel .panel-body {
  padding: 30px;
}

.legendColorBox > div {
  margin-right: 5px;
}

.select2-container {
  height: 34px;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 0px;
}

.select2-container .select2-selection--single {
  height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 33px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 32px;
}

.foto{
  width: 50%;
  position: absolute;
  right: 0%;
  z-index: 1;
  padding: 15px;
}

input.rp{
  text-align: right;
}

.select2-selection__clear{
  font-size: 25px;
  margin-top: -1px;
  margin-right: 2px;
  color: #E9573F;
}

#loading { 
  position: fixed;
  z-index: 99999999;
  opacity: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: White;
  background:rgba(0, 0, 0, 0.2);
}
#loading > img {
  text-align: center;
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
  height: 150px;
}

body.body-bg{
  background-image: url('../../assets/img/bjhome-depan.jpg');
  background-repeat: repeat-y;
  background-size: 100vw auto;
  background-position: center;
}

.bg-cover{
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
}

#sign-wrapper form{
  box-shadow: 0 0 10px -2px #000;
  background-color: transparent;
}
.sign-body, .sign-footer{
  background-color: rgba(255, 255, 255, 0.2);
}

#ntf_container a:hover{
  box-shadow: 0px 0px 20px -5px #000;
  z-index: 999;
}

#ntf_container a.media, #ntf_container a.media.unread{
  background-color: #fafad2;
}

#ntf_container a.media.read{
  background-color: rgba(221, 221, 221, 0.5);
}
.btn {
  border-radius: 12px;
} 
.action-container>.btn {
  border-radius: 50%;
  padding: 6px;
  width: 41px;
  float: left;
  margin-right: 5px;
  margin-top: 0;
  height: 41px;
}
input.form-control {
  border-radius: 13px;
}
select.form-control {
  border-radius: 13px;
}
select {
  border-radius: 13px;
}
input#keyword {
  border-radius: 12px 0px 0px 12px;
}
.fa-2x {
  font-size: 20px;
}
span.select2-selection.select2-selection--single {
  border-radius: 13px;
}